body {
  width: 500px;
}

p {
  text-align: justify;
}

button {
  text-align: center;
}

#selectedText {
  background: url("../images/icon/16.png") no-repeat center;
  width: 32px;
  height: 32px;
}

.pageParagraphs {
  /* hide this div for now since first working version will not have this option */
  visibility: hidden;
}

.main {
  color: white;
}

.bg-image {
  background-image: url("../images/gpt2.jpg");
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(1.1);
}
